@import './../../variables.scss';

.guides-content {
    .container {
        padding-bottom: 96px;
        grid-column-gap: 48px;
    }

    .guides-banner {
        padding-top: 96px;
        padding-bottom: 96px;
        text-align: center;

        h1 {
            font-size: 64px;
            max-width: 800px;
            margin: auto;
            margin-bottom: 24px;
        }

        p {
            font-size: 20px;
            max-width: 800px;
            margin: auto;
            margin-bottom: 24px;
        }
    }

    .guides-left-content {
        font-size: 16px;
        height: fit-content;
        border-bottom: 2px solid $bglightgray;

        &.sticky {
            position: fixed;
            top: 16px;
            max-width: 224px;            
        }

        ul {
            margin-bottom: 24px;

            li {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 4px;
                list-style-type: none;                

                &::marker {
                    color: $grey-600;
                }
               
                &.left-menu-item {
                    a {
                        color: $grey-500;

                        &.menu-guides-title {
                            display: block;
                            text-transform: uppercase;
                            font-weight: 600;
                            margin-bottom: 4px;
                        }
                        // &.guides-sub-menu {
                        //     padding-left: 12px;
                        // }
                    }
                }
                
                &.left-menu-item.active {
                    a {
                        color: $blue;
                    }

                    ul li.left-menu-item a {
                        color: $grey-500;
                    }
                }
            }
        }
    }

    .guides-right-content {
        min-height: 500px;

        .guides-document {
            .guides-title {
                // padding-top: 16px;
                margin-bottom: 16px;
            }

            .document-download {
                display: flex;
                flex-direction: column;
                padding-top: 48px;
                padding-bottom: 96PX;

                table {
                    font-size: 16px;

                    .download-thead_fist {

                        th,
                        td {
                            background-color: $grey-800;
                            color: $white;
                            font-weight: 500 !important;
                        }
                    }

                    tr {

                        th,
                        td {
                            padding: 0 24px;
                            background-color: $bglightgray;
                            height: 48px;

                            &.download {
                                text-align: center;
                            }

                            &:first-child {
                                // font-weight: 400;
                            }

                            &:last-child {
                                padding: 0;
                            }

                            a {
                                &:hover {
                                    span {
                                        &:first-child {
                                            display: inline-block;
                                        }

                                        &:last-child {
                                            display: none;
                                        }
                                    }
                                }

                                span {
                                    display: inline-block;
                                    background-color: $blue;
                                    border-radius: 6px;
                                    color: $white;
                                    font-size: 12px;
                                    font-weight: 600;
                                    padding: 6px 24px;
                                    text-transform: uppercase;
                                    margin: auto;                                    

                                    img {
                                        margin-right: 8px;
                                    }

                                    &:first-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .guides-video {
            .video-guides-item {                                
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 48px;
                grid-column-gap: 24px;
                justify-content: space-between;
                flex-wrap: nowrap;
                grid-template-rows: auto;
                padding-top: 48px;

                .video-guides-card {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    
                    .video-thumbnail {
                        width: 100%;
                        height: 280px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        // object-fit: cover;

                        .video-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            .ic-btn {
                                position: relative;
                                top: 3px;
                            }
                        }
                    }

                    .video-info {
                        margin-top: 24px;

                        .video-title {
                            font-size: 22px;
                            font-weight: 500;                            
                        }
                    }
                }                
            }
            .guides-video-tabs {
                padding-top: 32px;

                .tabs-header-wrap {
                    padding: 0;                    
                    width: auto;
                    height: 60px;
                    border-radius: 0;
                    border-bottom: 2px solid $bglightgray;

                    .tab-item {
                        width: auto;
                        padding: 0 32px;
                        position: relative;
                        background-color: transparent;
                        color: $grey-800;
                        border-radius: 0;
                        top: 2px;
                        transition: none;

                        &:hover {                                                
                            span {
                                color: $blue;
                            }
                          }

                        &.active {
                            background-color: $white;
                            border-bottom: 3px solid $grey-500;                                                
                            span {
                              color: $blue;
                            }
                          }
                    }
                    button {
                        span {
                          font-size: 18px;
                        }
                      }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .guides-content {
        .guides-banner {
            h1 {
                font-size: 48px;
            }
        }
        .container {
            padding-left: 20px;
            padding-right: 20px;
            display: flex !important;
            flex-direction: column !important;

            .guides-left-content {
                margin-bottom: 48px;

                &.sticky {
                    position: absolute;
                    top: 16px;
                    max-width: 100%;            
                }
            }

            .guides-right-content {

                .tabs-header-wrap {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 24px;
                    height: auto !important;
                    border-bottom: none !important;

                    .tab-item {
                        padding: 0 16px !important;
                        margin: 0;

                        .tabs-name {
                            display: block;
                            margin-bottom: 8px;                            
                        }
                    }
                }

                .video-guides-item {
                    display: flex;
                    flex-direction: column;

                    .video-thumbnail {
                        height: 250px !important;
                    }
                }
            }
        }
    }
}