/**
COLOR
*/
header.light-theme {
  background-color: #fff;
  border-bottom: 1px solid #F2F2F2;
}
header.light-theme nav ul .menu-item a {
  color: #000 !important;
}
header.light-theme nav ul .menu-item a:hover {
  color: #E62311 !important;
}
header.light-theme nav ul .menu-item.active a {
  color: #E62311 !important;
}

header {
  width: 100%;
  background-color: #00092D;
  transition: all 0.5s;
  line-height: 80px;
}
header .header-content {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr 1fr;
}
header .header-content .menu-right {
  justify-content: flex-end;
}
header .header-content > * {
  align-self: center;
}
header .header-content .brand {
  justify-self: start;
  opacity: 1;
  transition: opacity 0.3s;
}
header .header-content .brand a img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 50px;
}
header .header-content .menu-toggle {
  justify-self: end;
  cursor: pointer;
  display: none;
}
header .header-content .menu-toggle .menu-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}
header .header-content .menu-toggle .menu-icon .bar {
  position: absolute;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}
header .header-content .menu-toggle .menu-icon .bar.top {
  top: 12px;
}
header .header-content .menu-toggle .menu-icon .bar.center {
  top: 18px;
}
header .header-content .menu-toggle .menu-icon .bar.bottom {
  top: 24px;
}
header .header-content .menu-toggle .menu-icon .bar-text {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  line-height: 1;
  opacity: 1;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header .header-content .menu-toggle.close .bar {
  background: #fff;
}
header .header-content .menu-toggle.close .bar.top {
  top: 20px;
  transform: translateX(-50%) rotate(-45deg) translateY(-50%);
}
header .header-content .menu-toggle.close .bar.center {
  display: none;
}
header .header-content .menu-toggle.close .bar.bottom {
  top: 20px;
  margin-left: -2px;
  transform: translateX(-50%) rotate(45deg) translateY(-50%);
}
header .header-content .menu-toggle.close .bar-text {
  opacity: 0;
}
header .header-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-content nav ul {
  display: block;
}
header .header-content nav ul .menu-item {
  display: inline-block;
  position: relative;
  list-style-type: none;
  margin: 0 1rem;
  cursor: default;
}
header .header-content nav ul .menu-item.active a {
  color: #0086ff;
}
header .header-content nav ul .menu-item.active a:hover {
  color: #0086ff;
}
header .header-content nav ul .menu-item a {
  display: flex;
  align-items: center;
  color: #C9CEEB;
  font-size: 17px;
  transition: color 0.6s;
}
header .header-content nav ul .menu-item a:hover {
  color: #fff;
}
header .header-content nav ul .dropdown-cols {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex: 0 auto;
  border-radius: 20px;
  background: white;
  z-index: 2;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
}
header .header-content nav ul .dropdown-cols .center {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown {
  display: flex;
  flex-wrap: wrap;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li {
  list-style: none;
  line-height: normal;
  padding: 24px;
  margin: 0;
  cursor: pointer;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li.active a {
  color: #0086ff;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li.active a:hover {
  color: #0086ff;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li a {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #050C38;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li a .dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  margin-right: 16px;
  background-color: #F2F2F2;
}
header .header-content nav ul .dropdown-cols .center ul.dropdown li:hover a {
  color: #0086ff;
}

@media (max-width: 425px) {
  header {
    line-height: normal;
  }
  header .header-content {
    grid-template-columns: 2fr 1fr;
    padding: 24px;
  }
  header .header-content .brand a img {
    max-height: 40px;
    margin: 5px 0;
  }
  header .header-content .menu-toggle {
    display: flex;
  }
  .mobile-mode header .header-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "brand menutoggle" "navmenu  navmenu";
  }
  .mobile-mode header .header-content .brand {
    grid-area: brand;
    z-index: 2;
  }
  .mobile-mode header .header-content .menu-toggle {
    grid-area: menutoggle;
    z-index: 2;
  }
  .mobile-mode header .header-content .drawer-menu {
    grid-area: navmenu;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: red;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
  }
  .mobile-mode header .header-content nav {
    display: none;
    justify-content: start;
  }
  .mobile-mode header .header-content nav.open {
    display: flex;
  }
  .mobile-mode header .header-content nav .menu-item {
    display: block;
  }
  .mobile-mode header .header-content nav .dropdown-cols,
  .mobile-mode header .header-content nav .dropdown-cols .center,
  .mobile-mode header .header-content nav .dropdown-cols .center ul.dropdown {
    all: unset;
  }
  .mobile-mode header .header-content nav .dropdown-cols .center ul.dropdown .menu-item {
    display: block;
    padding: 0;
  }
  .mobile-mode header .header-content nav.menu-right {
    justify-content: start;
    align-items: flex-start;
  }
}/*# sourceMappingURL=Header.css.map */