/**
COLOR
*/
.footer {
  background-color: #000;
  padding-bottom: 0;
}
.footer .flare {
  position: absolute;
  background-color: #0086ff;
  width: 29vw;
  height: 29vw;
  left: 25%;
  border-radius: 50%;
  filter: blur(8.12vw);
  margin: -14.5vw 0 0 -14.5vw;
}
.footer .container .footer-top {
  display: flex;
  justify-content: space-between;
}
.footer .container .footer-top .left-footer {
  width: 30%;
}
.footer .container .footer-top .left-footer .vbd-description {
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
  margin: 24px 0;
}
.footer .container .footer-top .right-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  justify-content: flex-end;
}
.footer .container .footer-top .right-footer .text-cols {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin-left: 80px;
}
.footer .container .footer-top .right-footer .text-cols .footer-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 24px;
}
.footer .container .footer-top .right-footer .text-cols a {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 16px;
}
.footer .container .footer-top .right-footer .text-cols a:hover {
  color: #fff;
}
.footer .container .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #666;
  margin-top: 48px;
  padding: 48px 0;
}
.footer .container .footer-bottom .left-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .container .footer-bottom .left-footer p {
  font-size: 16px;
  color: #ccc;
  margin: 0;
}
.footer .container .footer-bottom .left-footer .dot {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #ccc;
  margin: 0 16px;
}
.footer .container .footer-bottom .left-footer a {
  color: #ccc;
}
.footer .container .footer-bottom .left-footer a:hover {
  color: #fff;
}
.footer .container .footer-bottom .right-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .container .footer-bottom .right-footer a {
  margin-left: 16px;
}
.footer .container .footer-bottom .right-footer .social-icon {
  position: relative;
  top: 3px;
}
.footer .container .footer-bottom .right-footer .social-icon:hover {
  filter: brightness(130%);
}

@media (max-width: 425px) {
  #footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer .container .footer-top {
    display: block;
  }
  #footer .container .footer-top .left-footer {
    width: 100%;
  }
  #footer .container .footer-top .right-footer {
    flex-direction: column;
    width: 100%;
  }
  #footer .container .footer-top .right-footer .text-cols {
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }
  #footer .container .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 0;
  }
  #footer .container .footer-bottom .left-footer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  #footer .container .footer-bottom .left-footer .dot {
    display: none;
  }
  #footer .container .footer-bottom .left-footer a {
    margin-bottom: 16px;
  }
  #footer .container .footer-bottom .right-footer {
    margin-bottom: 16px;
  }
  #footer .container .footer-bottom .right-footer a {
    margin-left: 0;
    margin-right: 16px;
  }
}/*# sourceMappingURL=Footer.css.map */