/**
COLOR
*/
$yellow: #ffc107;
$orange: #fd7e14;
$green: #2DC066;
$blue: #0086ff;
$blue-100: #5CB3FF;
$blue-200: #33A0ff;
$blue-300: #0060DF;
$blue-400: #004FB8;

$primary-light: #ECF4FF;
$primary-dark: #00092D;

$danger: #FA5242;
$red: #E62311;
$red-light: #ffe2e1;
$darkred: #AE180A;

$white: #fff;
$lightgray: #f8f8f8;
$gray: #6c757d;
$darkgray: #404040;
$black: #000;
$fontcolor: #666;

$bglightgray: #F2F2F2;
$borgray: #d4d4d4;

$grey-900: #00092D;
$grey-800: #050C38;
$grey-700: #151D50;
$grey-600: #272F5D;
$grey-500: #41497B;
$grey-400: #C9CEEB;